/* src/styles/global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
